<domain type = 'kvm'>
    <name>{{vmName}}</name>
    <memory unit="MiB">{{vmMEM}}</memory>
    <vcpu>{{vmCPU}}</vcpu>
    <os>
        <type arch = 'x86_64' machine = 'pc'>hvm</type>
        <boot dev = 'network'/>
        <boot dev = 'hd'/>
    </os>
    <features>
        <acpi/>
        <apic/>
        <pae/>
    </features>
    <clock offset = 'localtime'/>
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>destroy</on_crash>
    <devices>
        <emulator>/usr/libexec/qemu-kvm</emulator>
        <disk type = 'file' device = 'disk'>
            <driver name = 'qemu' type = 'qcow2'/>
            <source file = '{{vmDir}}/{{vmName}}.qcow2'/>
            <target dev = 'hda' bus = 'virtio'/>
        </disk>
        <interface type = 'bridge'>
            <source bridge = 'br0'/>
            <model type='virtio'/>
        </interface>
        <input type ='tablet' bus='usb'/>
        <input type = 'mouse' bus = 'ps2'/>
        <graphics type = 'vnc' port = '-1' listen = '0.0.0.0' autoport = 'yes' keymap = 'en-us'/>
    </devices>
</domain>